/* Home.css */

/* Hero Section */
.home .hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px); /* Subtracting banner height to fit the screen */
  background-size: cover;
  background-position: center 70%; /* Adjust the background position */
  display: flex;
  flex-direction: column; /* Ensure the content stacks vertically */
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0; /* No margin */
}

.home .hero-content {
  z-index: 1;
  max-width: 800px;
  margin-bottom: 22rem;
}

.home .intro-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.home .intro-subtitle {
  font-size: 2rem;
  color: white;
  margin-top: 1rem;
}

/* Banner Section */
.banner {
  width: 100%;
  height: 200px; /* Fixed height for the banner */
  background-size: contain; /* Ensure the entire image is contained */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0; /* No margin */
  padding: 0; /* No padding */
  border: 8px solid black; /* Thick border to hide spacing */
  box-sizing: border-box; 
}

@media (max-width: 768px) {
  .banner {
    display: none; /* Hides the banner on smaller screens */
  }
}

/* Intro Section */
.intro,
.facilities,
.leader-section,
.document-section {
  width: 100%;
  padding: 60px 0;
  background-color: #ffffff; /* White background */
  margin: 0; /* No margin */
}

.home .document-section {
  width: 100%;
  padding: 60px 0;
}

.home .document-section h2 {
  color: black;
}

.home .document-text {
  margin-bottom: 40px;
}

.intro {
  background-color: #143e61;
}

.intro .intro-container,
.facilities .facilities-container,
.leader-section .container,
.document-section .container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.research-areas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .research-areas-grid {
    grid-template-columns: 1fr;
  }
}

.research-area-tile {
  background: white;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  height: auto; /* Adjust to fit content */
}

.research-area-tile:hover {
  transform: scale(1.05);
}

.goal-image {
  width: 100%;
  height: 200px; /* Fixed height for uniform image size */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 8px 8px 0 0;
}

.tile-content {
  padding: 1rem;
}

.tile-content .mt-4 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.tile-content .description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #555;
}

/* Custom Arrows for Carousel */
.custom-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-arrow:before {
  font-size: 20px;
  color: #333;
}

.custom-arrow.next {
  right: -60px;
}

.custom-arrow.prev {
  left: -60px;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  border: 2px solid #333;
}

/* Leader Section */
.home .leader-section {
  text-align: center;
  background-color: #143e61;
  padding: 40px 0;
  margin: 0; /* No margin */
}

.home .leader-section h2 {
  color: white;
  margin-bottom: 20px;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .team-grid {
    flex-direction: column;
    align-items: center;
  }
}

.team-member {
  margin: 10px;
  text-align: center;
  width: 200px;
}

.team-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 auto;
}

.logo-img,
.city-logo-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 10px auto;
}

.city-logo-img {
  margin-top: 10px; /* Adjust this margin to align with other logos */
}

.logo-img:hover,
.city-logo-img:hover,
.team-img:hover {
  transform: scale(1.05);
}

.home .team-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
}

.team-role,
.team-country,
.team-email {
  margin-top: 5px;
  font-size: 0.875rem;
}

.home .team-country,
.home .team-role {
  color: white;
}

.home .facilities h2 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.facilities p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 30px;
}

.intro-text {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Fixed height for text containers to ensure logo alignment */
.team-member .team-info {
  height: 120px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

  .profile-img {
    width: 80px;
    height: 80px;
    display: flex;
  }

  .quote-text {
    font-size: 1rem;
  }

  .quote-author {
    font-size: 0.875rem;
  }

  .custom-arrow {
    width: 30px;
    height: 30px;
  }

  .custom-arrow:before {
    font-size: 15px;
  }

  .custom-arrow.next {
    right: -40px;
  }

  .custom-arrow.prev {
    left: -40px;
  }

  .home .hero-content {
    margin-bottom: 0; /* Remove the bottom margin */
  }

  .home .intro-title, .home .intro-subtitle {
    text-align: center; /* Center the text */
  }

  .document-section .flex-col {
    flex-direction: column;
  }

  .document-section .max-w-4xl {
    max-width: 100%; /* Ensure full width on mobile */
  }
}
