/* Hero Section */
.home .hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Make sure the hero section takes the full height of the viewport */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0; /* Ensure there's no margin below the hero section */
}

.home .hero-content {
  z-index: 1;
  max-width: 800px;
  margin-bottom: 22rem;
}

.home .intro-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.home .intro-subtitle {
  font-size: 2rem;
  color: white;
  margin-top: 1rem;
}

.intro,
.intro,
.facilities,
.leader-section,
.document-section {
  width: 100%;
  padding: 60px 0;
  background-color: #ffffff; /* Ensure the background is white */
  margin-top: 0; /* Remove any margin at the top */
}

.home .document-section {
  width: 100%;
  padding: 60px 0;
}

.home .document-section h2 {
  color: black;
}

.home .document-text{
  margin-bottom: 40px;
}

.intro {
  background-color: #143e61;
}

.intro .intro-container,
.facilities .facilities-container,
.leader-section .container,
.document-section .container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.research-areas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
  justify-content: space-around;
}

.research-area-tile {
  background: white;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  height: auto; /* Adjusted to fit content */
}

.research-area-tile:hover {
  transform: scale(1.05);
}

.goal-image {
  width: 100%;
  height: 200px; /* Set a fixed height for uniform image size */
  object-fit: cover; /* Ensures images maintain aspect ratio */
  border-radius: 8px 8px 0 0;
}

.tile-content {
  padding: 1rem;
}

.tile-content .mt-4 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.tile-content .description {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.custom-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-arrow:before {
  font-size: 20px;
  color: #333;
}

.custom-arrow.next {
  right: -60px;
}

.custom-arrow.prev {
  left: -60px;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  border: 2px solid #333;
}

.home .leader-section {
  text-align: center;
  background-color: #143e61;
  padding: 40px 0;
}

.home .leader-section h2 {
  color: white;
  margin-bottom: 20px;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  margin: 10px;
  text-align: center;
  width: 200px;
}

.team-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 auto;
}

.logo-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /* Adjust border-radius as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 20px auto 0;
  /* margin-top: 40px; */
}

.city-logo-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /* Adjust border-radius as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 20px auto 0;
  margin-top: 1px; /* Adjust this value to match the height with other logos */
}

.logo-img:hover {
  transform: scale(1.05);
}

.city-logo-img:hover {
  transform: scale(1.05);
}

.logo-img:hover {
  transform: scale(1.05);
}

.team-img:hover {
  transform: scale(1.05);
}

.home .team-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
}

.team-role,
.team-country,
.team-email {
  margin-top: 5px;
  font-size: 0.875rem;
}

.home .team-country {
  color: white;
}

.home .team-role {
  color: white;
}

.home .facilities h2 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.facilities p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 30px;
}

.intro-text {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

  .profile-img {
    width: 80px;
    height: 80px;
    display: flex;
  }

  .quote-text {
    font-size: 1rem;
  }

  .quote-author {
    font-size: 0.875rem;
  }

  .custom-arrow {
    width: 30px;
    height: 30px;
  }

  .custom-arrow:before {
    font-size: 15px;
  }

  .custom-arrow.next {
    right: -40px;
  }

  .custom-arrow.prev {
    left: -40px;
  }
}
