/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.activities-page {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #4897cc, #143e61); /* Updated background gradient */
  min-height: 100vh; /* Ensure the page covers the full viewport height */
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1; /* Ensure the wrapper takes the available space */
}

header h2 {
  text-align: center;
  color: white;
  margin: 0 auto;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 30px;
}

.activities-intro {
  text-align: center;
  color: white;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2rem;
}

.container h2 {
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-bottom: 30px;
}

.activity-item,
.competition-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.activity-item h3,
.competition-item h3 {
  color: black;
  font-size: 1.5em;
}

.activity-item p,
.competition-item p {
  color: black;
  font-size: 1.2em;
}

.activity-item img,
.competition-item img {
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Activity Gallery */
.activity-gallery {
  padding: 6rem 0;
  background: linear-gradient(to right, #D3EAF7, #E2E8F0, #F71735);
  text-align: center;
  width: 100%;
}

.activity-gallery .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.activity-gallery h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Activity Items */
.activity-item {
  margin-bottom: 4rem;
  background-color: white;
  padding: 0.7rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-item img {
  width: 40%;
  height: 300px; /* Increased height for images */
  object-fit: cover; /* Ensures images maintain aspect ratio */
  border-radius: 10px;
}

.activity-content {
  width: 50%;
}

.activity-item p {
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align: justify;
}

/* Even items: image on the right, text on the left */
.activity-item:nth-child(even) {
  flex-direction: row-reverse;
}

/* Competition Items */
.competition-item {
  margin-bottom: 4rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.activity-images {
  display: flex;
  justify-content: space-between;
}

.activity-images img {
  width: 32%; /* Three images in a row */
  height: 300px; /* Increased height for images */
  object-fit: cover; /* Ensures images maintain aspect ratio */
  border-radius: 10px;
}
