.city-team-page {
    font-family: 'Poppins', sans-serif;
  }
  
  .hero {
    text-align: center;
    background: linear-gradient(to right, #D3EAF7, #E2E8F0, #F56565);
    padding: 40px 0;
  }
  
  .team-section {
    text-align: center;
    background-color: #f9f9f9;
    padding: 40px 0;
  }
  
  .team-section h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team-member {
    margin: 10px;
    text-align: center;
    width: 250px; /* Adjusted width for equal sizing */
  }
  
  .team-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0 auto;
  }
  
  
  .team-img:hover {
    transform: scale(1.05);
  }
  
  .team-name {
    margin-top: 10px;
    color: #E53E3E;
    font-weight: bold;
  }
  
  .team-role,
  .team-affiliation,
  .team-time,
  .team-responsibility {
    margin-top: 5px;
    color: #555;
    font-size: 0.875rem;
  }
  