.city-team-page {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #ffffff, #c3d7e0, #4477a1);
  min-height: 100vh; /* Ensure the page takes at least the full viewport height */
  display: flex;
  flex-direction: column;
}

.hero {
  text-align: center;
  background: linear-gradient(to right, #D3EAF7, #E2E8F0, #F56565);
  padding: 40px 0;
}

.city-team-page .team-section {
  text-align: center;
  background: linear-gradient(to right, #4897cc, #143e61);
  padding: 40px 0;
  flex: 1; /* Allow this section to take up remaining space */
}

.team .container {
  background-color: #5a6fa9;
}

.team-section h2 {
  color: white;
  margin-bottom: 20px;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  margin: 10px;
  text-align: center;
  width: 250px;
}

.team-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 auto;
}

.team-img:hover {
  transform: scale(1.05);
}

.city-team-page .team-name {
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.city-team-page .team-role,
.city-team-page .team-affiliation,
.city-team-page .team-time,
.city-team-page .team-responsibility {
  margin-top: 5px;
  color: white;
  font-size: 0.875rem;
}

/* Media query for mobile responsiveness */
@media (max-width: 600px) {
  .team-member {
    width: 100%;
    margin: 10px 0;
  }

  .team-img {
    width: 120px;
    height: 120px;
  }
}
